body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://images.wallpaperscraft.ru/image/chereshnia_vishnia_iagody_122190_1920x1200.jpg);
    color:white;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.links {
    border-radius: 5px;
    font-family: 'Comic Sans MS',sans-serif;
    color: red;
    text-decoration: none;
    padding: 5px;
    margin: 1px;
}

    .links:hover {
        border-radius: 5px;
        background-color: red;
        font-family: 'Comic Sans MS',sans-serif;
        color: black;
        text-decoration: none;
        transition: all.6s ease;
    }

.header_style {
    font-family: 'Comic Sans MS',sans-serif;
    color: red;
}

.background_style {
    background-image: url(https://luxfon.com/images/201203/luxfon.com_9024.jpg);
    border-radius: 5px;
}

